.Navbar{
    width:10%;
    /* background:rgb(13, 98, 134); */
    background: linear-gradient(to bottom, rgb(32, 162, 218) 0%, rgba(91, 161, 226, 0.829) 100%), radial-gradient(at top center, rgb(56, 176, 228) 0%, rgba(114, 182, 194, 0.4) 120%) #b1a6a6; 
 background-blend-mode: multiply,multiply;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:1.1em;
}
.Iconbox{
    margin:55px;
    text-align: center;
    transition:0.3s all ease-in-out;
}
.Iconbox:hover{
    transform: scale(1.2);
    
}
.Iconbox p{
    margin: 1px 0;
}
.Iconbox a{
    text-decoration: none;
    color:white;
}


@media screen and (max-width:890px){
    .Navbar{
        width:20%;
    }
}
@media screen and (max-width:600px){
    .Navbar{
        width:100%;

    }
}